<a href="https://colab.research.google.com/github/charithrd/Python-E-Learning/blob/main/LeadTime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

> # <font color=#2B65EC>**1. Data Pre-processing**</font>

> # <font color='lightblue'>Importing required libraries</font>

- pandas and numpy libraries are particularly selected for data analysis and manipulation.
- In addition from pandas library series and dataframe classes are imported.
- Series assist in holding one dimensional labelled arrays and DataFrame help to handle tabular two dimensional dataset.

In [14]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np

> ## <font color='lightblue'>Importing glob module to assist in finding file paths matching a specified pattern</font>

- glob function within glob module is used to search for '/content/K+N Seafreight WK*.xlsm' pattern within the content directory and return all the matching files.

In [15]:
import glob
glob.glob('/content/K+N Seafreight WK*.xlsm')

['/content/K+N Seafreight WK 01.xlsm',
 '/content/K+N Seafreight WK 03.xlsm',
 '/content/K+N Seafreight WK 05.xlsm',
 '/content/K+N Seafreight WK 07.xlsm',
 '/content/K+N Seafreight WK 09.xlsm',
 '/content/K+N Seafreight WK 11.xlsm',
 '/content/K+N Seafreight WK 13.xlsm']

> ### <font color='lightblue'>Initialising an Empty List and Append Files</font>
- An empty list is created using 'comb_dfs = []'
- For loop iterates over each file path that matches the glob function pattern and assign each file name to the variable 'one_filename'.
- Pandas read_excel function is used to read the files in 'one_filename' and load into a dataframe. This dataframe is then assigned to the 'new_df' variable.
- Finally, 'new_df' dataframe is added to the 'comb_dfs' list.

In [16]:
comb_dfs = []
for one_filename in glob.glob('/content/K+N Seafreight WK*.xlsm'):
    print(f'loading {one_filename}')
    new_df = pd.read_excel(one_filename)
    comb_dfs.append(new_df)

loading /content/K+N Seafreight WK 01.xlsm
loading /content/K+N Seafreight WK 03.xlsm
loading /content/K+N Seafreight WK 05.xlsm
loading /content/K+N Seafreight WK 07.xlsm
loading /content/K+N Seafreight WK 09.xlsm
loading /content/K+N Seafreight WK 11.xlsm
loading /content/K+N Seafreight WK 13.xlsm

In [17]:
# Pandas concatenate function is used to combine multiple dataframes within 'comb_dfs'
df =pd.concat(comb_dfs)

> ### <font color='lightblue'>List comprehension using LLM's</font>

- Code that we used to Initialise an empty list and appendthe files to a dataframe is optimised using List Comprehension technique.
- To achieve this objective we have seeked recomendations from LLM.
- Similar output is achieved with minimal coding.

In [19]:
df = pd.concat([pd.read_excel(one_filename)
      for one_filename in glob.glob('/content/K+N Seafreight WK*.xlsm')
      if not print(f'loading {one_filename}')
])

loading /content/K+N Seafreight WK 01.xlsm
loading /content/K+N Seafreight WK 03.xlsm
loading /content/K+N Seafreight WK 05.xlsm
loading /content/K+N Seafreight WK 07.xlsm
loading /content/K+N Seafreight WK 09.xlsm
loading /content/K+N Seafreight WK 11.xlsm
loading /content/K+N Seafreight WK 13.xlsm

In [20]:
# Dimensions of the dataframe using shape function.
df.shape

(771, 33)

In [21]:
# First 15 rows of the dataframe is retrieved using head() function.
df.head(15)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32
0,File Reference,Voyage Number,Container No,Cont Type,Port of Loading,Port of Arrival,Carrier,FAK Y/N?,Ocean Freight USD,Hazardous,...,Port Inf,Energy Adjustment and Fuel Duty Recovery GBP,Gen Set,HAZ Surcharge,Rework,GBP Total,Gate In (Freight),Delivery Month,USD Invoice Number,GBP Invoice Number
1,1056098652,SACT0LAGFW1MAK,TCNU5889998,41,TAO,FXT,CMDU,NAC,1443,0,...,10,15.5,NaN,0,NaN,1087.95,12,2,GB14251024,GB14251027
2,1056098652,SACT0LAGFW1MAK,TLLU7780815,41,TAO,FXT,CMDU,NAC,1443,0,...,10,15.5,NaN,0,NaN,1022.95,12,2,GB14251024,GB14251027
3,1056417135,SACT0LAGFW1MAK,SEKU5855208,41,TAO,FXT,CMDU,NAC,1443,0,...,10,15.5,NaN,0,NaN,1087.95,12,2,GB14251024,GB14251027
4,1056731037,SEUG349WBD,CAAU5789652,41,CGP,FXT,MSCU,NAC,1095,0,...,10,15.5,NaN,0,NaN,1087.95,12,2,GB14251028,GB14251030
5,1056731037,SEUG349WBD,MEDU4899685,41,CGP,FXT,MSCU,NAC,1095,0,...,10,15.5,NaN,0,NaN,1077.56,12,2,GB14251028,GB14251030
6,1056731037,SEUG349WBD,MSDU5504909,41,CGP,FXT,MSCU,NAC,1095,0,...,10,15.5,NaN,0,NaN,1022.95,12,2,GB14251028,GB14251030
7,1056731037,SEUG349WBD,MSDU6257948,41,CGP,FXT,MSCU,NAC,1095,0,...,10,15.5,NaN,0,NaN,1022.95,12,2,GB14251028,GB14251030
8,1056731037,SEUG349WBD,MSDU6712234,41,CGP,FXT,MSCU,NAC,1095,0,...,10,15.5,NaN,0,NaN,1022.95,12,2,GB14251028,GB14251030
9,1056731037,SEUG349WBD,MSDU7367739,41,CGP,FXT,MSCU,NAC,1095,0,...,10,15.5,NaN,0,NaN,1022.95,12,2,GB14251028,GB14251030
10,1056731037,SEUG349WBD,MSMU5867217,41,CGP,FXT,MSCU,NAC,1095,0,...,10,15.5,NaN,0,NaN,1022.95,12,2,GB14251028,GB14251030
11,1056731037,SEUG349WBD,MSMU6142550,41,CGP,FXT,MSCU,NAC,1095,0,...,10,15.5,NaN,0,NaN,1022.95,12,2,GB14251028,GB14251030
12,1056731037,SEUG349WBD,MSMU7068020,41,CGP,FXT,MSCU,NAC,1095,0,...,10,15.5,NaN,0,NaN,1022.95,12,2,GB14251028,GB14251030
13,1056731037,SEUG349WBD,TGBU7945745,41,CGP,FXT,MSCU,NAC,1095,0,...,10,15.5,NaN,0,NaN,1022.95,12,2,GB14251028,GB14251030
14,1056731049,SEUG349WBD,FFAU2522239,41HG,CGP,FXT,MSCU,NAC,1095,0,...,10,15.5,NaN,0,NaN,1087.95,12,2,GB14251028,GB14251030

### Observations
- With the head function output we can observe that the dataset headers exist in row 1 (index 0)
- Hence, we are using iloc function to target row 1 'iloc[0]' as headers and subsequently drop row 1 since it's the new header.

In [23]:
# Set the first row as the header.
df.columns = df.iloc[0]

# Drop the first row since it's now the header.
df_trim = df.drop(0).reset_index(drop=True)

# Display the DataFrame to confirm the changes.
df_trim.head(15)

,File Reference,Voyage Number,Container No,Cont Type,Port of Loading,Port of Arrival,Carrier,FAK Y/N?,Ocean Freight USD,Hazardous,...,Port Inf,Energy Adjustment and Fuel Duty Recovery GBP,Gen Set,HAZ Surcharge,Rework,GBP Total,Gate In (Freight),Delivery Month,USD Invoice Number,GBP Invoice Number
0,1056098652,SACT0LAGFW1MAK,TCNU5889998,41,TAO,FXT,CMDU,NAC,1443,0,...,10,15.5,NaN,0,NaN,1087.95,12,2,GB14251024,GB14251027
1,1056098652,SACT0LAGFW1MAK,TLLU7780815,41,TAO,FXT,CMDU,NAC,1443,0,...,10,15.5,NaN,0,NaN,1022.95,12,2,GB14251024,GB14251027
2,1056417135,SACT0LAGFW1MAK,SEKU5855208,41,TAO,FXT,CMDU,NAC,1443,0,...,10,15.5,NaN,0,NaN,1087.95,12,2,GB14251024,GB14251027
3,1056731037,SEUG349WBD,CAAU5789652,41,CGP,FXT,MSCU,NAC,1095,0,...,10,15.5,NaN,0,NaN,1087.95,12,2,GB14251028,GB14251030
4,1056731037,SEUG349WBD,MEDU4899685,41,CGP,FXT,MSCU,NAC,1095,0,...,10,15.5,NaN,0,NaN,1077.56,12,2,GB14251028,GB14251030
5,1056731037,SEUG349WBD,MSDU5504909,41,CGP,FXT,MSCU,NAC,1095,0,...,10,15.5,NaN,0,NaN,1022.95,12,2,GB14251028,GB14251030
6,1056731037,SEUG349WBD,MSDU6257948,41,CGP,FXT,MSCU,NAC,1095,0,...,10,15.5,NaN,0,NaN,1022.95,12,2,GB14251028,GB14251030
7,1056731037,SEUG349WBD,MSDU6712234,41,CGP,FXT,MSCU,NAC,1095,0,...,10,15.5,NaN,0,NaN,1022.95,12,2,GB14251028,GB14251030
8,1056731037,SEUG349WBD,MSDU7367739,41,CGP,FXT,MSCU,NAC,1095,0,...,10,15.5,NaN,0,NaN,1022.95,12,2,GB14251028,GB14251030
9,1056731037,SEUG349WBD,MSMU5867217,41,CGP,FXT,MSCU,NAC,1095,0,...,10,15.5,NaN,0,NaN,1022.95,12,2,GB14251028,GB14251030
10,1056731037,SEUG349WBD,MSMU6142550,41,CGP,FXT,MSCU,NAC,1095,0,...,10,15.5,NaN,0,NaN,1022.95,12,2,GB14251028,GB14251030
11,1056731037,SEUG349WBD,MSMU7068020,41,CGP,FXT,MSCU,NAC,1095,0,...,10,15.5,NaN,0,NaN,1022.95,12,2,GB14251028,GB14251030
12,1056731037,SEUG349WBD,TGBU7945745,41,CGP,FXT,MSCU,NAC,1095,0,...,10,15.5,NaN,0,NaN,1022.95,12,2,GB14251028,GB14251030
13,1056731049,SEUG349WBD,FFAU2522239,41HG,CGP,FXT,MSCU,NAC,1095,0,...,10,15.5,NaN,0,NaN,1087.95,12,2,GB14251028,GB14251030
14,1056731049,SEUG349WBD,MEDU9350213,41HG,CGP,FXT,MSCU,NAC,1095,0,...,10,15.5,NaN,0,NaN,1022.95,12,2,GB14251028,GB14251030

In [24]:
# Returning the data types of each column in 'df_trim' DataFrame.
df_trim.dtypes

0
File Reference                                  object
Voyage Number                                   object
Container No                                    object
 Cont Type                                      object
Port of Loading                                 object
Port of Arrival                                 object
Carrier                                         object
FAK Y/N?                                        object
 Ocean Freight USD                              object
Hazardous                                       object
Reefer                                          object
 ISPS USD                                       object
 ENS Fee                                        object
Sulphur Chg                                     object
GOH Surcharge                                   object
USD Total                                       object
No of Drops                                     object
 Terminal Handling GBP                          object
 Port Security GBP                              object
 Documents GBP                                  object
 Customs Clearance GBP                          object
 Haulage GBP                                    object
DRS                                             object
 Port Inf                                       object
Energy Adjustment and Fuel Duty Recovery GBP    object
Gen Set                                         object
HAZ Surcharge                                   object
Rework                                          object
GBP Total                                       object
Gate In (Freight)                               object
Delivery Month                                  object
USD Invoice Number                              object
GBP Invoice Number                              object
dtype: object

### Observations
- At a glance we can spot that data in each column is created as an object.
- With the head() function we have noticed that columns like 'Ocean Freight USD' are numerical columns.
- Hence, the numerical columns within this dataset need converting to data type 'int' or 'floats' where necessary.